__pycache__/
*.py[cod]
*$py.class
*.pyc
.DS_Store
*.env
.ipynb_checkpoints/

# VSCode
.vscode/

# Python
*.egg-info/
dist/
build/

# Docker
.dockerignore

# Mac
._*
.Spotlight-V100
.Trashes

# Old
_old/